In [4]:
df = pd.read_csv("collected research people.csv")

Cenário 1:

A empresa Carri Construtora contratou a empresa que você trabalha para encontrar possíveis compradores para o seus novos empreendimentos.

A empresa quer entender as necessidades dos clientes, e quer informações com:

*   Quais cliente devemos abordar;
*   Qual empreendimento nós devemos mostrá-los;
*   Esse cliente está em busca em investir em um imóvel ou comprar para moradia?


 Se renda anual > 104 = pode participar do Minha casa minha vida

In [1]:
import pandas as pd
import numpy as np

In [11]:
df.head()

,Nome,Endereerço,Cidade,Estado,phone,anual_income,Estado Civil,AAge,n_filhos,Moradia,Food_restrictions,streaming,diariamente_sun blocker,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [14]:
novas_cols = {'Endereerço': 'Endereço',
              'phone': 'Telefone',
              'anual_income': 'Renda Anual',
              'AAge': 'Idade',
              'n_filhos': 'N Filhos',
              'diariamente_sun blocker': 'Usa protetor solar diariamente',
              'Food_restrictions': 'Restrição alimentar',
              'streaming': 'Streaming'
              }

df.rename(columns=novas_cols, inplace=True)
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

O **\W** equivale a [^a-zA-Zà-úÀ-Ú0-9_].

In [16]:
# Remover caracteres especiais, mantendo letras, números e espaços
df['Nome'] = df['Nome'].str.replace('[^a-zA-Zà-úÀ-Ú0-9 ]', '', regex=True)

In [20]:
df.Nome.str.replace('\W', '', regex=True)
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,S,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [38]:
df.Telefone = df.Telefone.str.replace('[^0-9() -+]', '*')

In [42]:
df.loc[df.Telefone.str.contains('[*]',na=True), 'Telefone'] = np.nan

In [43]:
df.Telefone.str.contains('[*]', na=False)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
Name: Telefone, dtype: bool

In [44]:
df['Estado Civil'] = df['Estado Civil'].replace({'S':'Solteiro', 'C':'Casado', 'D':'Divorciado','V':'Viúvo'})

In [51]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [82]:
import pandas as pd
import numpy as np

In [83]:
existing_columns = df_carri.columns
print(existing_columns)

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'email'],
      dtype='object')

In [74]:
df_carri = df.copy()

In [84]:
drop_carri = ['Restrição alimentar', 
              'Streaming', 
              'Usa protetor solar diariamente', 
              'Quantidade de Livros Comprados', 
              'Autor Favorito']

columns_to_drop = [col for col in drop_carri if col in existing_columns]
df_carri.drop(columns=columns_to_drop, inplace=True)
print(df_carri.columns)

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'email'],
      dtype='object')

In [86]:
np.where((df_carri.Moradia == "Quitada"), True, False)

array([ True, False, False,  True, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False, False, False, False, False,  True,
        True, False, False, False, False, False,  True, False,  True,
       False])

Cenário 2: Uma empresa chamada Hillo, é uma empresa que está estudando o mercado e quer encontrar uma parceria com uma empresa de Streeming (netflix, Disney plus etc), mas gostaria de saber quais as empresas dariam o maior retorno de investimento.
Eles podem fazer análise de machine learning também com esses dados.

In [87]:
df.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Moradia,Restrição alimentar,Streaming,Usa protetor solar diariamente,Vai na Praia Mensalmente,Faz Academia,Compra e Lê Livros Todos os Anos,Quantidade de Livros Comprados,Autor Favorito,email
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Quitada,Nenhuma,Globo Play,Sim,Não,Sim,NaN,NaN,NaN,mariaclaranovaes285@gemeil.com
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,De favor,NaN,Todos,NaN,Não,Sim,Não,NaN,NaN,daviluccapereira933@exemplo.com
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,Financiamento,Lactose e Glúten,NaN,Sim,Não,NaN,Sim,6.0,NaN,srcaiocaldeira626@gemeil.com
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,Quitada,Lactose e Glúten,NaN,Não,Não,Não,Sim,0.0,Enzo Rezende,kaiqueazevedo731@rotmail.com
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Financiamento,NaN,Globo Play,Sim,Sim,NaN,Sim,7.0,NaN,pedromoreira622@gemeil.com

In [88]:
df.columns

Index(['Nome', 'Endereço', 'Cidade', 'Estado', 'Telefone', 'Renda Anual',
       'Estado Civil', 'Idade', 'N Filhos', 'Moradia', 'Restrição alimentar',
       'Streaming', 'Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito', 'email'],
      dtype='object')

In [89]:
df_hillo = df.copy()

In [91]:
df_hillo =df_hillo.drop(columns=['Moradia','Restrição alimentar','Usa protetor solar diariamente',
       'Vai na Praia Mensalmente', 'Faz Academia',
       'Compra e Lê Livros Todos os Anos', 'Quantidade de Livros Comprados',
       'Autor Favorito'])

In [98]:
df_hillo['Streaming'].str.get_dummies(sep='e')

,Crunchyroll,Disn,HBO,Crunchyroll,Disn,Globo Play,"Globo Play, N",HBO,N,nhum,tflix,tflix,"tflix, HBO, Disn",y Plus,y Plus
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
5,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
12,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
13,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0
24,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
29,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1
30,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
36,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [95]:
df_hillo.Streaming = df_hillo.Streaming.replace({"Todos":"Globo Play, Netflix, HBO, Disney Plus e Crunchyroll"})

In [96]:
df_hillo.Streaming

0                                            Globo Play
1     Globo Play, Netflix, HBO, Disney Plus e Crunch...
2                                                   NaN
3                                                   NaN
4                                            Globo Play
5                                         Netflix e HBO
6                                                   NaN
7                                                   NaN
8                                           Crunchyroll
9                                                Nenhum
10                                                  HBO
11                                               Nenhum
12                                          Disney Plus
13    Globo Play, Netflix, HBO, Disney Plus e Crunch...
14                                                  NaN
15                                     Netflix e Disney
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                           Globo Play
20                                                  NaN
21                                               Nenhum
22                                                  NaN
23                                               Nenhum
24                                          Disney Plus
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                              Netflix
29    Globo Play, Netflix, HBO, Disney Plus e Crunch...
30                                           Globo Play
31                                                  HBO
32                                                  HBO
33                                                  NaN
34                                                  NaN
35                                           Globo Play
36                                          Crunchyroll
Name: Streaming, dtype: object

In [99]:
df_hillo.Streaming = df_hillo.Streaming.replace({"Netflix e Disney":"Netflix e Disney Plus"})

In [102]:
df_hillo_strem = df_hillo['Streaming'].str.get_dummies(sep='e')

In [103]:
df_hillo = pd.concat([df_hillo, df_hillo_strem], axis=1)

In [104]:
df_hillo.head()

,Nome,Endereço,Cidade,Estado,Telefone,Renda Anual,Estado Civil,Idade,N Filhos,Streaming,...,Globo Play,"Globo Play, N",HBO,N,nhum,tflix,tflix,"tflix, HBO, Disn",y Plus,y Plus
0,Maria Clara Novaes,NaN,Carvalho,Mato Grosso do Sul,(011) 3908 5991,86445.0,NaN,43.0,NaN,Globo Play,...,1,0,0,0,0,0,0,0,0,0
1,Davi Lucca Pereira,"Rodovia de Silveira, 67",NaN,Mato Grosso do Sul,NaN,31289.0,NaN,NaN,0.0,"Globo Play, Netflix, HBO, Disney Plus e Crunch...",...,0,1,0,0,0,0,0,1,0,1
2,Sr Caio Caldeira,"Residencial Freitas, 10",Carvalho,Rio Grande do Norte,NaN,NaN,Solteiro,60.0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
3,Kaique Azevedo,NaN,Azevedo,Rio Grande do Sul,NaN,76264.0,Casado,26.0,4.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Pedro Moreira,"Colônia de Oliveira, 87",NaN,NaN,-0.'8--%/],53295.0,Casado,60.0,5.0,Globo Play,...,1,0,0,0,0,0,0,0,0,0